<!-- Título da Página -->
<div class="layout_section_page_title">
    <div class="row" style="margin: 0px;">
        <div class="container">
            <div class="col-sm-12">
                <h1 class="layout_page_title">SERVIÇOS</h1>
            </div>
        </div>
    </div>
</div>

<!-- Serviços -->
<section class="layout_services">
    <div class="col-sm-12 my-5">
        <h1 class="layout_service_text ">UI/UX Design Websites</h1>
    </div>
    <div class="service_page_box_gray mb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="service_page_box_img">
                        <img height="100px" src="../../../assets/images/ic_uidesign.svg" title="Ui Design Website" alt="Ui Design Website">
                    </div>
                    <p class="text_service_page_box_gray">A harmonia entre um layout minimalista e um produto funcional é o que faz com que os projetos de websites funcionem adequadamente, e esse é o desafio que procuro enfrentar em meus projetos. Não precisamos "reinventar a roda" no quesito funcionalidade. Com a evolução dos padrões de design, temos diversas formas de se fazer um projeto simples, sofisticado e ao mesmo tempo amigo do usuário.</p>
                    <p class="text_service_page_box_gray">Se olharmos a evolução das milhares de páginas na web, e procurarmos analisar principalmente a questão visual, poderemos observar que diversas técnicas e padrões utilizados - que estão sendo usados hoje em dia em interfaces gráficas - são derivadas e adptadas do design gráfico.</p>
                    <p class="text_service_page_box_gray">Fazer um projeto de interface de website focado no usuário vai muito mais além do que desenhar botões, organizar as margens e espaçamentos entre os objetos, é um estudo teórico de organização de informações que deve ser colocado em prática.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-container">
        <div class="row mb-5">
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/uidesigner_01.png" width="100%" alt="uidesigner" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/uidesigner_02.png" width="100%" alt="uidesigner" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/uidesigner_03.png" width="100%" alt="uidesigner" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
        </div>
    </div>

    <div class="col-sm-12 py-5">
        <h1 class="layout_service_text mt-5">UI Design Mobile</h1>
    </div>
    <div class="service_page_box_green mb-5">
        <div class="container">
            <div class="row mt-5">
                <div class="col-sm-12">
                    <div class="service_page_box_img">
                        <img height="100px" src="../../../assets/images/ic_mobile_white.svg" title="Ui Design Mobile" alt="Ui Design Mobile">
                    </div>
                    <p class="text_service_page_box_green">Design e prototipagem de interfaces de aplicações para dispositivos móveis e criação vetorial de ícones personalizados. Design e prototipagem de interfaces de aplicações para dispositivos móveis e criação vetorial de ícones personalizados. Design e prototipagem de interfaces de aplicações para dispositivos móveis e criação vetorial de ícones personalizados.</p>
                    <p class="text_service_page_box_green">Design e prototipagem de interfaces de aplicações para dispositivos móveis e criação vetorial de ícones personalizados. Design e prototipagem de interfaces de aplicações para dispositivos móveis e criação vetorial de ícones personalizados. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-container">
        <div class="row mb-5">
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/uimobile_01.png" width="100%" alt="uimobile" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/uimobile_02.png" width="100%" alt="uimobile" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/uimobile_03.png" width="100%" alt="uimobile" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
        </div>
    </div>
    
    <div class="col-sm-12 py-5">
        <h1 class="layout_service_text mt-5">Web Front-End</h1>
    </div>
    <div class="service_page_box_gray mb-5">
        <div class="container">    
            <div class="row mt-5">
                <div class="col-sm-12">
                    <div class="service_page_box_img">
                        <img height="100px" src="../../../assets/images/ic_webdev.svg" title="Web Front-End" alt="Web Front-End">
                    </div>
                    <p class="text_service_page_box_gray">Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade. Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade.</p>
                    <p class="text_service_page_box_gray">Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade. Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade. Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade. </p>
                    <p class="text_service_page_box_gray">Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade. Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="custom-container">
        <div class="row mb-5">
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/frontend_01.png" width="100%" alt="frontend" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/frontend_02.png" width="100%" alt="frontend" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/frontend_03.png" width="100%" alt="frontend" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
        </div>
    </div>

    <div class="col-sm-12 py-5">
        <h1 class="layout_service_text mt-5">Design Gráfico</h1>
    </div>
    <div class="service_page_box_green mb-5">
        <div class="container">
            <div class="row mt-5">
                <div class="col-sm-12">
                    <div class="service_page_box_img">
                        <img height="100px" src="../../../assets/images/ic_graphicdesign_white.svg" title="Design Gráfico" alt="Design Gráfico">
                    </div>
                    <p class="text_service_page_box_green">Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. </p>
                    <p class="text_service_page_box_green">Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-container">
        <div class="row">
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/graphicdesigner_01.png" width="100%" alt="graphicdesigner" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/graphicdesigner_02.png" width="100%" alt="graphicdesigner" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
            <div class="col-sm-4 mb-4">
                <img src="../../../assets/images/graphicdesigner_03.png" width="100%" alt="graphicdesigner" style="box-shadow: 5px 5px 15px rgb(201, 201, 201);">
            </div>
        </div>
    </div>

    <div class="col-sm-12 pt-5">
        <h1 class="layout_service_text my-5">VAMOS CONVERSAR SOBRE ALGUNS DESTES SERVIÇOS?</h1>
    </div>

    <div style="text-align: center;"> 
        <div class="col-sm-12 mb-5">
            <a class="mx-5 btn_primary hvr-bounce-to-right" routerLink=''>
                <div class="text_btn_primary">Fale comigo!</div>
            </a>
        </div>
    </div>       
</section>
