<!-- Título da Página -->
<div class="layout_section_page_title">
    <div class="row" style="margin: 0px;">
        <div class="container">
            <div class="col-sm-12">
                <h1 class="layout_page_title">SERVIÇOS</h1>
            </div>
        </div>
    </div>
</div>

<!-- Serviços -->
<section class="layout_services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="service_page_box_gray">
                    <div class="service_page_box_img">
                        <img height="100px" src="../../../assets/images/ic_uidesign.svg" title="Ui Design Website" alt="Ui Design Website">
                    </div>
                    <h3 class="title_service_page_box_gray">UI Design Websites</h3>
                    <p class="text_service_page_box_gray">Planeamento, designer centrado na melhor experiência do usuário, prototipagem e revisões de layout de websites responsivos. Planeamento, designer centrado na melhor experiência do usuário, prototipagem e revisões de layout de websites responsivos. Planeamento, designer centrado na melhor experiência do usuário, prototipagem e revisões de layout de websites responsivos.</p>
                    <p class="text_service_page_box_gray">Planeamento, designer centrado na melhor experiência do usuário, prototipagem e revisões de layout de websites responsivos. Planeamento, designer centrado na melhor experiência do usuário, prototipagem e revisões de layout de websites responsivos.</p>
                    <p class="text_service_page_box_gray">Planeamento, designer centrado na melhor experiência do usuário, prototipagem e revisões de layout de websites responsivos. Planeamento, designer centrado na melhor experiência do usuário, prototipagem e revisões de layout de websites responsivos. Planeamento, designer centrado na melhor experiência do usuário, prototipagem e revisões de layout de websites responsivos. Planeamento, designer centrado na melhor experiência do usuário, prototipagem e revisões de layout de websites responsivos.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="service_page_box_green">
                    <div class="service_page_box_img">
                        <img height="100px" src="../../../assets/images/ic_mobile_white.svg" title="Ui Design Mobile" alt="Ui Design Mobile">
                    </div>
                    <h3 class="title_service_page_box_green">UI Design Mobile</h3>
                    <p class="text_service_page_box_green">Design e prototipagem de interfaces de aplicações para dispositivos móveis e criação vetorial de ícones personalizados. Design e prototipagem de interfaces de aplicações para dispositivos móveis e criação vetorial de ícones personalizados. Design e prototipagem de interfaces de aplicações para dispositivos móveis e criação vetorial de ícones personalizados.</p>
                    <p class="text_service_page_box_green">Design e prototipagem de interfaces de aplicações para dispositivos móveis e criação vetorial de ícones personalizados. Design e prototipagem de interfaces de aplicações para dispositivos móveis e criação vetorial de ícones personalizados. </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="service_page_box_gray">
                    <div class="service_page_box_img">
                        <img height="100px" src="../../../assets/images/ic_webdev.svg" title="Web Front-End" alt="Web Front-End">
                    </div>
                    <h3 class="title_service_page_box_gray">Web Front-End</h3>
                    <p class="text_service_page_box_gray">Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade. Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade.</p>
                    <p class="text_service_page_box_gray">Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade. Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade. Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade. </p>
                    <p class="text_service_page_box_gray">Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade. Criação de páginas simples como sites de portfólio, institucionais, sempre alinhando um design moderno e uma boa usabilidade.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="service_page_box_green">
                    <div class="service_page_box_img">
                        <img height="100px" src="../../../assets/images/ic_graphicdesign_white.svg" title="Design Gráfico" alt="Design Gráfico">
                    </div>
                    <h3 class="title_service_page_box_green">Design Gráfico</h3>
                    <p class="text_service_page_box_green">Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. </p>
                    <p class="text_service_page_box_green">Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. Desenvolvimento de logotipos; identidades visuais; imagens para redes sociais; capas de livros, discos e DVDs; entre outros. </p>
                </div>
            </div>
        </div>   
    </div>        
</section>
