/*----------------------------------*\
*********** SERVICES STYLES **********
\*----------------------------------*/

.layout_services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.custom-container {
    padding-left: 30px;
    padding-right: 30px;
}

/*------- SECTIONS -------*/

.layout_service_text{
	font-size: 4.8rem;
	color: #33cc99 !important;
    font-weight: 200;
	text-align: center;	
}

@media (max-width: 767px){
    .layout_service_text{
        font-size: 4.0rem;
    }
}
@media (max-width: 575px){
    .layout_service_text{
        font-size: 3.0rem;
    }
}

.layout_page_title{
	font-size: 4.8rem;
	color: white !important;
    font-weight: 200;
    text-align: center;
    margin-top: 25px;	
}

@media (max-width: 767px){
    .layout_page_title{
        font-size: 4.0rem;
        margin-top: 30px;
    }
}

.layout_section_page_title {
    height: 100px;
    background-color: var(--primary-color);
}

/*----- SERVICE PAGE BOX -----*/

.service_page_box_gray {
    padding: 15px;
    text-align: justify;
    background-color: var(--gray3);
}

.service_page_box_green {
    padding: 15px;
    text-align: justify;
    background-color: var(--primary-color);
}

.service_page_box_img {
    padding: 15px;
    text-align: center;
}
/*
.title_service_page_box_gray {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 2.6rem;
    text-align: center;
    color: var(--primary-color);
}

.title_service_page_box_green {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 2.6rem;
    text-align: center;
    color: white;
}
*/
.text_service_page_box_gray {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: justify;
    text-indent: 40px;
    line-height: 2.8rem;
    color: var(--gray1);
    font-size: 1.8rem;
}

@media (max-width: 440px){
    .text_service_page_box_gray {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.text_service_page_box_green {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: justify;
    text-indent: 40px;
    line-height: 2.8rem;
    color: white;
    font-size: 1.8rem;
}

@media (max-width: 440px){
    .text_service_page_box_green {
        padding-left: 10px;
        padding-right: 10px;
    }
}