<!-- Título da Página -->
<div class="layout_section_page_title">
    <div class="row" style="margin: 0px;">
        <div class="container">
            <div class="col-sm-12">
                <h1 class="layout_page_title">PORTFÓLIO</h1>
            </div>
        </div>
    </div>
</div>

<!-- Serviços -->
<section class="layout_services">
    <div class="custom-container">
        <div class="col-sm-12 pt-5">
            <h1 class="layout_service_text my-5">CLIENTES ATENDIDOS</h1>
        </div>       
    </div>
    <div class="pt-0 pb-5 pl-5 pr-5">
        <div class="row">
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/2aprojecteng.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/alencaradv.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/alltech.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/ancilon.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/apa.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/autolinda.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/bari.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/bayer.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/buteco.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/camiseteca.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/cejmr.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/cgb.png" alt="Cliente">
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/construvale.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/corridadovinho.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/creativeday.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/criare.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/cronos.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/dantasproducoes.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/depetroparaomundo.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/digitalsystem.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/duartedematos.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/ecconceicao.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/edesiocesar.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/eduardovieira.png" alt="Cliente">
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/emcasadetaipa.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/eupassarinho.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/foodpaper.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/h2d.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/harasrioforte.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/hotelzinho.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/iateclube.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/imotaveira.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/infine.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/instrumentalvelhochico.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/isa.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/karuna.png" alt="Cliente">
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/keudantas.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/krd.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/laborcolor.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/livrariapauloeestevao.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/maniadecraque.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/mayfashion.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/meiamaratona.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/moreirajr.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/next.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/nit.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/pac.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/peel.png" alt="Cliente">
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/pneuflex.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/pneuforte.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/podium.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/porumtres.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/profiat.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/raphaelcruz.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/rebuild.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/rogerioribeiro.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/sanpower.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/sanvale.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/saturno.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/subaepneus.png" alt="Cliente">
                </div>
            </div>
        </div>
        <div class="row pt-5 d-flex justify-content-center">
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/sushiday.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/susiane.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/systec.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/taisfarias.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/tendadosenhor.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/triade.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/tyresoles.png" alt="Cliente">
                </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="customer_box">
                    <img class="img_customer_box" src="../../../assets/images/clientes/valefut.png" alt="Cliente">
                </div>
            </div>
        </div>
    </div>
</section>
