/*----------------------------------*\
********** PORTFOLIO STYLES **********
\*----------------------------------*/

.layout_portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
}

.custom-container {
    padding-left: 30px;
    padding-right: 30px;
}

/*------- SECTIONS -------*/

.layout_portfolio_text{
	font-size: 4.8rem;
	color: #33cc99 !important;
    font-weight: 200;
	text-align: center;	
}

@media (max-width: 767px){
    .layout_portfolio_text{
        font-size: 4.0rem;
    }
}
@media (max-width: 575px){
    .layout_portfolio_text{
        font-size: 3.0rem;
    }
}

.layout_page_title{
	font-size: 4.8rem;
	color: white !important;
    font-weight: 200;
    text-align: center;
    margin-top: 25px;	
}

@media (max-width: 767px){
    .layout_page_title{
        font-size: 4.0rem;
        margin-top: 30px;
    }
}

.layout_section_page_title {
    height: 100px;
    background-color: var(--primary-color);
}

/*------- UIUX Portfolio -------*/

.uiux_portfolio_card {
    padding: 0px;
    background-color: white;
    box-shadow: 5px 5px 20px rgb(226, 226, 226);
}

.header_portfolio_card {
    text-align: center; 
}

.footer_portfolio_card {
    padding: 15px;
    color: var(--gray1);
}

.text_portfolio_card {
    padding-left: 8px;
    font-size: 1.6rem;
}

.link_portfolio_card {
    text-decoration: none;
    color: var(--gray1) !important;
}

.link_portfolio_card:hover, .link_portfolio_card:focus {
    text-decoration: none;
    color: var(--primary-color) !important;
}

.footer_portfolio_designer_card {
    padding: 15px;
    color: var(--gray1);
    background-color: var(--gray3);
}

.text_portfolio_designer_card {
    padding-left: 8px;
    font-size: 1.3rem;
}

/*------- CUSTOMERS -------*/
.customer_box {
    text-align: center; 
}

.img_customer_box {
    width: 100%;
    text-align: center;
}
