/*----------------------------------*\
*********** PROJECT STYLES ***********
\*----------------------------------*/

html {
    font-size: 62.5%;
}

body {
    font-family: "Heebo", sans-serif;
    font-size: 1.4rem;
}

/*------- COLORS -------*/

:root {
    --primary-color: #000000;
    --secondary-color: #71e6bf;
    --tertiary-color: #35DB90;
    --gray1: #999999;
    --gray2: #505050;
    --gray3: #f2f2f2;
}

/*----------------------------------*\
*************** HEADER ***************
\*----------------------------------*/

/*------- HEADER TOP -------*/

.layout_header_top {
    height: 36px;
    width: 100%;
    background-color: var(--primary-color);
    text-align: right;
}

.btn_social_header_top {
    padding: 8px 0px;
    margin-right: 30px;
    display: inline-block;
}

@media (max-width: 450px){
    .btn_social_header_top {
        margin-right: 20px;
    }
}

@media (max-width: 390px){
    .btn_social_header_top {
        margin-right: 20px;
    }
}

.btn_social_header_top_last {
    margin-right: 30px;
}

@media (max-width: 364px){
    .btn_social_header_top_last {
        margin-right: 20px;
    }
}

.btn_language {
    width: 24px;
    height: 24px;
    padding: 8px 0px;
    margin-right: 10px;
    display: inline-block;
    text-align: right;
}

/*------- HEADER BOTTOM -------*/

.layout_header_bottom {
    height: 120px;
    width: 100%;
    background-color: white;
}

.layout_logo {
    height: 50px;
}

@media (max-width: 450px){
    .layout_logo {
        height: 40px;
    }
}

.btn_menu {
    padding: 8px 20px;
    display: inline-block;
    color: var(--gray1);
    font-size: 1.6rem;
}

.btn_menu:hover, .btn_menu:focus{
    background-color: #ffffff !important;
    color: var(--primary-color); 
    text-decoration: none;
}

/*-----------------------------------*\
************* MAIN BANNER *************
\*-----------------------------------*/

.main_banner{
    margin-top: 100px;
    margin-bottom: 60px;
}

@media (max-width: 767px){
    .main_banner{
        margin-bottom: 0px;
    }
}


/*----------------------------------*\
************** SECTIONS **************
\*----------------------------------*/

.layout_section_home {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (max-width: 575px){
    .layout_section_home {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.layout_section_title{
	font-size: 4.8rem;
	color: var(--primary-color) !important;
    font-weight: 200;
	text-align: center;	
}

@media (max-width: 767px){
    .layout_section_title{
        font-size: 4.0rem;
    }
}

.layout_section_subtitle{
	font-size: 3.0rem;
	color: var(--primary-color) !important;
    font-weight: 200;
	text-align: center;	
}


/*----------------------------------*\
*********** SERVICES STYLES **********
\*----------------------------------*/

.service_box {
    margin: 20px 0px;
    padding: 10px;
    background-color: var(--gray3);
}

.header_service_box {
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: center;
}

.title_service_box {
    margin: 15px 0px;
    font-size: 3.0rem;
    text-align: center;
    color: var(--gray2);
}

.text_service_box {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 2.2rem;
    color: var(--gray2);
    font-size: 1.8rem;
}

/*------------------------------------*\
*********** INTERESTED STYLES **********
\*------------------------------------*/

.layout_section_title_black{
	font-size: 4.0rem;
	color: white !important;
    font-weight: 300;
	text-align: center;	
}

.interested {
    padding: 50px 0px;
    background-color: var(--primary-color);
}

.interested_arrow {
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: center;
}

/*----------------------------------*\
********** PORTFOLIO STYLES **********
\*----------------------------------*/

.layout_portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
}

.custom-container {
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 767px){
    .custom-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.layout_portfolio_text{
	font-size: 4.8rem;
	color: var(--gray1) !important;
    font-weight: 200;
	text-align: center;	
}

@media (max-width: 767px){
    .layout_portfolio_text{
        font-size: 4.0rem;
    }
}
@media (max-width: 575px){
    .layout_portfolio_text{
        font-size: 3.0rem;
    }
}

.uiux_portfolio_card {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding: 0px;
    background-color: white;
    box-shadow: 5px 5px 20px rgb(226, 226, 226);
}

.portfolio_box {
    position: relative;
    text-align: center;
    overflow: hidden; 
}

.portfolio_img {
    transition: transform 1.3s;
}

.portfolio_img:hover {
    transform: scale(1.2);
    
}

.title_portfolio_card {
    text-decoration: none;
    text-align: center;
    color: var(--primary-color) !important;
    font-size: 1.6rem;
    margin-top: 10px;
}

.link_portfolio_card {
    text-decoration: none;
    color: var(--gray1) !important;
    padding: 10px 20px;
    font-size: 1.6rem;
    border: 1px solid var(--gray1);
    margin-bottom: 15px;
}

.link_portfolio_card:hover, .link_portfolio_card:focus {
    text-decoration: none;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}

.footer_portfolio_designer_card {
    color: var(--gray1);
    background-color: var(--gray3);
    padding: 3px;
}

.text_portfolio_designer_card {
    padding-left: 8px;
    font-size: 1.3rem;
}

.customer_box {
    text-align: center; 
}

.img_customer_box {
    width: 100%;
    text-align: center;
}

.btn_primary {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    display: inline-block;
    background: var(--primary-color);
    padding: 18px 50px;
}

.btn_primary:hover, .btn_primary:focus {    
    text-decoration: none;
}

.text_btn_primary {
    color: white;
    font-size: 2.0rem;
    text-decoration: none !important;
}

.text_btn_primary:hover, .text_btn_primary:focus {
    color: white;
}


/*----------------------------------*\
************ ABOUT STYLES ************
\*----------------------------------*/

.layout_about-img {
    text-align: center;
}

.layout_about_text {
    font-size: 3rem;
	color: var(--primary-color) !important;
    font-weight: 400;
    text-align: center;
    display: block;
    padding-bottom: 30px;
    background: url(../images/line_gray.svg) no-repeat center 50px;
    background-size: 50px 3px
}

.layout_about_paragraph {
    font-size: 1.8rem;
	color: var(--gray1) !important;
    font-weight: 300;
    text-align: center;
    display: block;
}

.skill_icon, .hobbie_icon {
    margin: 0px 10px;
}


/*----------------------------------*\
*********** CONTATO STYLES ***********
\*----------------------------------*/

.layout_contact_text{
	font-size: 3.5rem;
	color: var(--primary-color);
    font-weight: 200;
	text-align: center;	
}

@media (max-width: 767px){
    .layout_contact_text{
        font-size: 3.0rem;
    }
}
@media (max-width: 575px){
    .layout_contact_text{
        font-size: 2.6rem;
    }
}

.layout_page_title{
	font-size: 4.8rem;
	color: white !important;
    font-weight: 200;
    text-align: center;
    margin-top: 25px;	
}

@media (max-width: 767px){
    .layout_page_title{
        font-size: 4.0rem;
        margin-top: 30px;
    }
}

.layout_section_page_title {
    height: 100px;
    background-color: var(--primary-color);
}

.enter-group {
    margin-bottom: 15px;
}

.title_field_form {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--primary-color);
}

.field_form{
    display: block !important;
    width: 100% !important;
    height: 3.5rem;
    padding: 0px !important;
    border-top: 0px solid white !important;
    border-left: 2px solid var(--primary-color) !important;
    border-right: 0px solid white !important;
    border-bottom: 2px solid var(--primary-color) !important;
    border-radius: 0px !important;
    font-size: 1.4rem !important;
}

#message {
    height: 120px;
}

.btn_form {
    border: none;
    display: inline-block;
    background-color: var(--primary-color) !important;
    padding: 6px 30px;
    color: white;
    font-size: 2.0rem;
    text-decoration: none !important;
}

.layout_title_modal {
    font-weight: 700;
    font-size: 2.0rem;
}

.layout_paragraph_modal {
    font-size: 1.6rem;
    text-indent: 30px;
    padding-bottom: 0.5rem;
    text-align: justify;
}


/*----------------------------------*\
************ FOOTER STYLES ***********
\*----------------------------------*/

.layout_footer {
    background-color: var(--primary-color);
    border-top: 6px solid var(--gray1);
    text-align: center;
    padding-top: 10px; 
}

.layout_footer_menu {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.social_media_bar_footer {
    display: inline-block;
    list-style: none;  
}

.btn_social_footer {
    width: 30px;
    height: 30px;
    margin: 10px 10px;
    border-style: none;
}

@media (max-width: 360px){
    .btn_social_footer {
        margin: 10px 6px;
    }
}

.footer_menu_item {
    margin: 0px 10px;
    display: inline-block;
    color: white;
}

.footer_menu_item:hover, .footer_menu_item:focus {    
    text-decoration: none;
    color: var(--gray3);
}

.footer_text {
    margin-top: 10px;
    font-size: 1.4rem;
    color: white;
}


/*----------------------------------*\
********** ANIMATION STYLES **********
\*----------------------------------*/

/* --- Left to Right --- */
.anime_left_to_right {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
    transition: 1.0s;
}

.anime_start_left_to_right {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* --- Right to Left --- */
.anime_right_to_left {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
    transition: 1.0s;
}

.anime_start_right_to_left {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* --- Bottom to Top --- */
.anime_bottom_to_top {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: 1.0s;
}

.anime_start_bottom_to_top {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* --- Top to Bottom --- */
.anime_top_to_bottom {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
    transition: 1.0s;
}

.anime_start_top_to_bottom {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* --- Rotate --- */
.anime_rotate {
    opacity: 0;
    transform: rotate(-60deg);
    transition: 1.0s;
}
.anime_start_rotate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transform: rotate(0deg);
}


/*----------------------------------*\
************** HAMBURGER *************
\*----------------------------------*/

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: var(--gray1);
}
  
.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}
  
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--emphatic {
    overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
    left: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
    top: 10px;
    right: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
    left: -80px;
    top: -80px;
    transform: translate3d(80px, 80px, 0) rotate(45deg);
    transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
      
.hamburger--emphatic.is-active .hamburger-inner::after {
    right: -80px;
    top: -80px;
    transform: translate3d(-80px, 80px, 0) rotate(-45deg);
    transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
  
  

