<!-- Footer -->
<footer class="layout_footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul style="padding: 0px;">
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="Instagram" href="https://www.instagram.com/rodrigo_brq/" target="_blank">
                            <img style="width: 16px;" src="../../../assets/images/ic_instagram.svg" alt="Instagram">
                        </a>
                    </li>
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="LinkedIn" href="https://www.linkedin.com/in/rodrigo-remigio-854094175/" target="_blank">
                            <img style="width: 16px;" src="../../../assets/images/ic_linkedin.svg" alt="LinkedIn">
                        </a>
                    </li>
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="Twitter" href="#" target="_blank">
                            <img style="width: 16px;" src="../../../assets/images/ic_twitter.svg" alt="Twitter">
                        </a>
                    </li>
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="Dribble" href="#" target="_blank">
                            <img style="width: 16px;" src="../../../assets/images/ic_dribble.svg" alt="Dribble">
                        </a>
                    </li>
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="GitHub" href="https://github.com/rodrigoremigio" target="_blank">
                            <img style="width: 16px;" src="../../../assets/images/ic_github.svg" alt="GitHub">
                        </a>
                    </li>
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="WhatsApp" href="https://api.whatsapp.com/send?phone=351963526311&text=Olá!" target="_blank">
                            <img style="width: 16px;" src="../../../assets/images/ic_whatsapp.svg" alt="WhatsApp">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img class="my-2" width="150px" title="Logotipo Rodrigo Remígio" src="../../../assets/images/logotipo_rr_footer.svg" alt="Logotipo Rodrigo Remígio">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="padding: 0px;" class="">
                    <li class="hvr-grow layout_footer_menu">
                        <a class="footer_menu_item" href="#">Início</a>
                    </li>
                    <li class="hvr-grow layout_footer_menu">
                        <a class="footer_menu_item" href="#">Serviços</a>
                    </li>
                    <li class="hvr-grow layout_footer_menu">
                        <a class="footer_menu_item" href="#">Portfólio</a>
                    </li>
                    <li class="hvr-grow layout_footer_menu">
                        <a class="footer_menu_item" href="#">Contato</a>
                    </li>
                </ul>    
            </div>
            <div class="col-md-6">
                <p class="footer_text">Copyright &copy; 2020. Todos os direitos reservados. Rodrigo Remígio.</p>
            </div>
        </div>
    </div>
</footer>
