/*----- FOOTER -----*/

.layout_footer {
    background-color: var(--primary-color);
    border-top: 10px solid var(--gray1);
    text-align: center; 
}

.layout_footer_menu {
    display: inline-block !important;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.social_media_bar_footer {
    display: inline-block;
    list-style: none;  
}

.btn_social_footer {
    margin: 10px 10px;
    border-style: none;
}

.footer_menu_item {
    display: inline-block !important;
    list-style: none;
    margin: 0px 10px;
    color: white;
}

.footer_menu_item:hover, .footer_menu_item:focus {    
    text-decoration: none;
    color: var(--gray3);
}

.footer_text {
    margin-top: 10px;
    font-size: 1.4rem;
    color: white;
}