<div class="layout_header_top">
    <div class="container">
        <ul>
            <li class="btn_social_header_top">
                <a title="Instagram" href="https://www.instagram.com/rodrigo_brq/" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../../../assets/images/ic_instagram.svg" alt="Instagram"/>
                </a>
            </li>
            <li class="btn_social_header_top">
                <a title="LInkedIn" href="https://www.linkedin.com/in/rodrigo-remigio-854094175/" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../../../assets/images/ic_linkedin.svg" alt="LinkedIn"/>
                </a>
            </li>
            <li class="btn_social_header_top">
                <a title="Twitter" href="https://twitter.com/Escova13" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../../../assets/images/ic_twitter.svg" alt="Twitter"/>
                </a>
            </li>
            <li class="btn_social_header_top">
                <a title="Dribble" href="#" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../../../assets/images/ic_dribble.svg" alt="Dribble"/>
                </a>
            </li>
            <li class="btn_social_header_top">
                <a title="GitHub" href="https://github.com/rodrigoremigio" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../../../assets/images/ic_github.svg" alt="GitHub"/>
                </a>
            </li>
            <li class="btn_social_header_top btn_social_header_top_last">
                <a title="WhatsApp" href="https://api.whatsapp.com/send?phone=351963526311&text=Olá!" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../../../assets/images/ic_whatsapp.svg" alt="WhatsApp"/>
                </a>
            </li>
            <li class="btn_language">
                <a title="Português" href="index.html" class="hvr-grow">
                    <img style="width: 16px;" src="../../../assets/images/brflag.png" alt="Português"/>
                </a>
            </li>
            <li class="btn_language">
                <a title="English" href="home-en.html" class="hvr-grow">
                    <img style="width: 16px;" src="../../../assets/images/ukflag.png" alt="English"/>
                </a>
            </li>
        </ul>
    </div>
</div>
    
<nav class="navbar navbar-fixed-top navbar-expand-md layout_header_bottom" style="box-shadow: 0px 0px 15px rgb(5, 163, 129);">
    <div class="container">
        <a class="navbar-brand h1 mb-0" href="index.html" title="Rodrigo Remígio">
            <img src="../../../assets/images/symbol_rr.svg" height="65px" alt="Logotipo Rodrigo Remígio"/>
        </a>
        <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
            <img src="../../../assets/images/buttonmenu.png">
        </div>
    
        <div class="collapse navbar-collapse" id="navbarSite">
            
            <ul class="navbar-nav ml-auto" style="text-align: right;">
                <li class="nav-item">
                    <a class="btn_menu_active hvr-underline-from-center" href="index.html">Início</a>
                </li>
                <li class="nav-item">
                    <a class="btn_menu hvr-underline-from-center" href="servicos.html">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="btn_menu hvr-underline-from-center" href="#">Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="btn_menu hvr-underline-from-center" href="#">Contato</a>
                </li>
            </ul>    
        </div>
    </div>
</nav>




<script>
    // Animated Scroll (Menu)
    
    $('ul a').click(function(e){
        e.preventDefault();
        var id = $(this).attr('href'),
            targetOffset = $(id).offset().top,
            menuHeight = $('nav').innerHeight();
    
        $('html, body').animate({
            scrollTop: targetOffset -menuHeight
        }, 800)
    });
    
    $('div a').click(function(e){
        e.preventDefault();
        var id = $(this).attr('href'),
            targetOffset = $(id).offset().top;
        $('html, body').animate({
            scrollTop: targetOffset -100
        }, 800)
    });
    
    // Animated Scroll (Objects)
    
    // Código para não repetir a função milhares de vezes no site, melhorando assim, a performance.
    debounce = function(func, wait, immediate) {
        var timeout;
        return function() {
            var context = this, args =arguments;
            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
    
    // LEFT TO RIGHT
    (function() {
        var $target = $('.anime_left_to_right'),
            animationClass = 'anime_start_left_to_right';
            offset = $(window).height() * 3/4;
    
        function animeScroll() {
            var documentTop = $(document).scrollTop();
            
            $target.each(function(){
                var itemTop = $(this).offset().top;
                if(documentTop > itemTop - offset) {
                    $(this).addClass(animationClass);
                } else {
                    $(this).removeClass(animationClass);
                }
            })
        }
        animeScroll();
        $(document).scroll(debounce(function(){
            animeScroll();
        }, 200));
    }());
    
    // BOTTOM TO TOP
    (function() {
        var $target = $('.anime_bottom_to_top'),
            animationClass = 'anime_start_bottom_to_top';
            offset = $(window).height() * 3/4;
    
        function animeScroll() {
            var documentTop = $(document).scrollTop();
            
            $target.each(function(){
                var itemTop = $(this).offset().top;
                if(documentTop > itemTop - offset) {
                    $(this).addClass(animationClass);
                } else {
                    $(this).removeClass(animationClass);
                }
            })
        }
        animeScroll();
        $(document).scroll(debounce(function(){
            animeScroll();
        }, 200));
    }());
    
    // RIGHT TO LEFT
    (function() {
        var $target = $('.anime_right_to_left'),
            animationClass = 'anime_start_right_to_left';
            offset = $(window).height() * 3/4;
    
        function animeScroll() {
            var documentTop = $(document).scrollTop();
            
            $target.each(function(){
                var itemTop = $(this).offset().top;
                if(documentTop > itemTop - offset) {
                    $(this).addClass(animationClass);
                } else {
                    $(this).removeClass(animationClass);
                }
            })
        }
        animeScroll();
        $(document).scroll(debounce(function(){
            animeScroll();
        }, 200));
    }());
    
    // TOP TO BOTTOM
    (function() {
        var $target = $('.anime_top_to_bottom'),
            animationClass = 'anime_start_top_to_bottom';
            offset = $(window).height() * 3/4;
    
        function animeScroll() {
            var documentTop = $(document).scrollTop();
            
            $target.each(function(){
                var itemTop = $(this).offset().top;
                if(documentTop > itemTop - offset) {
                    $(this).addClass(animationClass);
                } else {
                    $(this).removeClass(animationClass);
                }
            })
        }
        animeScroll();
        $(document).scroll(debounce(function(){
            animeScroll();
        }, 200));
    }());
    </script>
