/*----------------------------------*\
*********** NAV BAR STYLES ***********
\*----------------------------------*/

/*------- HEADER TOP -------*/

.layout_header_top {
    height: 40px;
    width: 100%;
    background-color: var(--primary-color);
    text-align: right;
}

/*------- HEADER BOTTOM -------*/

.layout_header_bottom {
    width: 100%;
    background-color: white;
}

.btn_social_header_top {
    padding: 8px 0px;
    margin-right: 20px;
    display: inline-block;
}

.btn_social_header_top_last {
    margin-right: 30px;
}

.btn_language {
    width: 24px;
    height: 24px;
    padding: 8px 0px;
    margin-right: 10px;
    display: inline-block;
}

.btn_menu {
    padding: 8px 20px;
    color: var(--gray1);
    background-color: #ffffff;
    font-size: 1.6rem;
}

.btn_menu:hover, .btn_menu:focus{
    background-color: #ffffff !important;
    color: var(--primary-color); 
    text-decoration: none;
}

.btn_menu_active {
    padding: 8px 20px;
    color: var(--tertiary-color);
    background-color: white;
    font-size: 1.6rem;
}

.btn_menu_active:hover, .btn_menu_active:focus{
    background-color: #ffffff !important;
    color: var(--primary-color); 
    text-decoration: none;
}

/*------- ANIMATION -------*/

/* --- Left to Right --- */
.anime_left_to_right {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
    transition: 1.0s;
}
.anime_start_left_to_right {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* --- Right to Left --- */
.anime_right_to_left {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
    transition: 1.0s;
}

.anime_start_right_to_left {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* --- Bottom to Top --- */
.anime_bottom_to_top {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: 1.0s;
}

.anime_start_bottom_to_top {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* --- Top to Bottom --- */
.anime_top_to_bottom {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
    transition: 1.0s;
}

.anime_start_top_to_bottom {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}