<!----- NAVBAR ----->

<div class="layout_header_top">
    <div class="container">
        <ul>
            <li class="btn_social_header_top">
                <a title="Instagram" href="https://www.instagram.com/rodrigo_brq/" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../assets/images/ic_instagram.svg" alt="Instagram"/>
                </a>
            </li>
            <li class="btn_social_header_top">
                <a title="LInkedIn" href="https://www.linkedin.com/in/rodrigo-remigio-854094175/" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../assets/images/ic_linkedin.svg" alt="LinkedIn"/>
                </a>
            </li>
            <li class="btn_social_header_top">
                <a title="Twitter" href="https://twitter.com/Escova13" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../assets/images/ic_twitter.svg" alt="Twitter"/>
                </a>
            </li>
            <li class="btn_social_header_top">
                <a title="Dribble" href="#" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../assets/images/ic_dribble.svg" alt="Dribble"/>
                </a>
            </li>
            <li class="btn_social_header_top">
                <a title="GitHub" href="https://github.com/rodrigoremigio" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../assets/images/ic_github.svg" alt="GitHub"/>
                </a>
            </li>
            <li class="btn_social_header_top btn_social_header_top_last">
                <a title="WhatsApp" href="https://api.whatsapp.com/send?phone=351963526311&text=Olá!" target="_blank" class="hvr-grow">
                    <img style="width: 16px;" src="../assets/images/ic_whatsapp.svg" alt="WhatsApp"/>
                </a>
            </li>
            <li class="btn_language">
                <a title="Português" href="index.html" class="hvr-grow">
                    <img style="width: 16px;" src="../assets/images/brflag.png" alt="Português"/>
                </a>
            </li>
            <li class="btn_language">
                <a title="English" href="home-en.html" class="hvr-grow">
                    <img style="width: 16px;" src="../assets/images/ukflag.png" alt="English"/>
                </a>
            </li>
        </ul>
    </div>
</div>
    
<nav class="layout_header_bottom navbar navbar-fixed-top navbar-expand-md" style="box-shadow: 0px 0px 15px rgb(5, 163, 129);">
    <div class="container">
        <a class="navbar-brand h1 mb-0" routerLink='home' title="Rodrigo Remígio">
            <img src="../assets/images/symbol_rr.svg" height="65px" alt="Logotipo Rodrigo Remígio"/>
        </a>
        
        <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
            <img src="../assets/images/buttonmenu.png">
        </div>
    
        <div class="collapse navbar-collapse" id="navbarSite">
            
            <ul class="navbar-nav ml-auto" style="text-align: right;">
                <li class="nav-item">
                    <a class="btn_menu hvr-underline-from-center" routerLink='home'>Início</a>
                </li>
                <li class="nav-item">
                    <a class="btn_menu hvr-underline-from-center" routerLink='servicos'>Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="btn_menu hvr-underline-from-center" routerLink='portfolio'>Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="btn_menu hvr-underline-from-center" routerLink='contato'>Contato</a>
                </li>
            </ul>    
        </div>
    </div>
</nav>


<router-outlet></router-outlet>


<!----- Footer ----->
<footer class="layout_footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul style="padding: 0px;">
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="Instagram" href="https://www.instagram.com/rodrigo_brq/" target="_blank">
                            <img style="width: 16px;" src="../assets/images/ic_instagram.svg" alt="Instagram">
                        </a>
                    </li>
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="LinkedIn" href="https://www.linkedin.com/in/rodrigo-remigio-854094175/" target="_blank">
                            <img style="width: 16px;" src="../assets/images/ic_linkedin.svg" alt="LinkedIn">
                        </a>
                    </li>
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="Twitter" href="#" target="_blank">
                            <img style="width: 16px;" src="../assets/images/ic_twitter.svg" alt="Twitter">
                        </a>
                    </li>
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="Dribble" href="#" target="_blank">
                            <img style="width: 16px;" src="../assets/images/ic_dribble.svg" alt="Dribble">
                        </a>
                    </li>
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="GitHub" href="https://github.com/rodrigoremigio" target="_blank">
                            <img style="width: 16px;" src="../assets/images/ic_github.svg" alt="GitHub">
                        </a>
                    </li>
                    <li class="btn_social_footer social_media_bar_footer hvr-grow">
                        <a title="WhatsApp" href="https://api.whatsapp.com/send?phone=351963526311&text=Olá!" target="_blank">
                            <img style="width: 16px;" src="../assets/images/ic_whatsapp.svg" alt="WhatsApp">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img class="my-2" width="150px" title="Logotipo Rodrigo Remígio" src="../assets/images/logotipo_rr_footer.svg" alt="Logotipo Rodrigo Remígio">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="padding: 0px;" class="">
                    <li class="hvr-grow layout_footer_menu">
                        <a class="footer_menu_item" routerLink='home'>Início</a>
                    </li>
                    <li class="hvr-grow layout_footer_menu">
                        <a class="footer_menu_item" routerLink='servicos'>Serviços</a>
                    </li>
                    <li class="hvr-grow layout_footer_menu">
                        <a class="footer_menu_item" routerLink='portfolio'>Portfólio</a>
                    </li>
                    <li class="hvr-grow layout_footer_menu">
                        <a class="footer_menu_item" routerLink='contato'>Contato</a>
                    </li>
                </ul>    
            </div>
            <div class="col-md-6">
                <p class="footer_text">Copyright &copy; 2020. Todos os direitos reservados. Rodrigo Remígio.</p>
            </div>
        </div>
    </div>
</footer>
<script>
    var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function() {
        hamburger.classList.toggle("is-active");
    });
  </script>